* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
    transition: var(--transition);
}

:root {
    --primary: #2c3e50;
    --secondary: #3498db;
    --light: #f8f9fa;
    --dark: #2d3436;
    --gray: #95a5a6;
    --success: #27ae60;
    --border: #dfe6e9;
    --radius: 12px;
    --shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    --transition: all 0.3s ease;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #fff;
    color: var(--dark);
    line-height: 1.6;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Header & Navigation */
header {
    background: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: var(--transition);
    box-shadow: var(--shadow);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.icon-btn {
    background: none;
    border: none;
    font-size: 1.2rem;
    color: var(--dark);
    cursor: pointer;
    position: relative;
    transition: var(--transition);
}

.icon-btn img {
    filter: invert(0);
    height: 20px;
    width: 20px;
}

.nav-links {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.nav-icons {
    display: flex;
    gap: 1.3rem;
}

.hero {
    background: linear-gradient(347deg, #609bc2, #094078);
    text-align: center;
    padding: 116px 0 84px;
    color: white;
}

.hero h1 {
    font-family: 'Playfair Display', serif;
    font-size: 3.5rem;
    animation: fadeInUp 1s ease 0.2s both;
}

.hero p {
    font-size: 1.2rem;
    max-width: 620px;
    margin: 0 auto 37px;
    text-align: center;
    animation: fadeInUp 1s ease 0.2s both;

}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero-buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.btn {
    font-size: 1.2rem;
    border-radius: 50px;
    font-weight: 600;
    cursor: pointer;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 16px 17px;
}

.btn-primary {
    background-color: hwb(191deg 28.25% 27.25%);
}
.btn-primary:hover {
    background-color: hwb(191 23% 27% / 0.816);
    transform: scale(1.03);
}